reference: cve https://cve.mitre.org/cgi-bin/cvename.cgi?name=%s
reference: url http://%s
reference: bugtraq http://www.securityfocus.com/bid/%s
reference: nessus https://www.tenable.com/plugins/nessus/%s
reference: openvas https://www.openvas.org/plugins/%s
reference: snort https://www.snort.org/rule_docs/%s
reference: nmap https://nmap.org/nsedoc/scripts/%s.html
reference: msb https://docs.microsoft.com/en-us/security-updates/securitybulletins/%s
reference: osvdb http://osvdb.org/show/osvdb/%s
reference: attack https://attack.mitre.org/techniques/%s
reference: malwarebazaar https://bazaar.abuse.ch/sample/%s/
reference: urlhaus https://urlhaus.abuse.ch/url/%s/
reference: virustotal https://www.virustotal.com/gui/search/%s
reference: abuseipdb https://www.abuseipdb.com/check/%s
reference: threatcrowd https://www.threatcrowd.org/domain.php?domain=%s
reference: hybridanalysis https://www.hybrid-analysis.com/sample/%s
reference: alienvault https://otx.alienvault.com/indicator/ip/%s
reference: tor https://metrics.torproject.org/rs.html#search/%s
reference: shodan https://www.shodan.io/host/%s
reference: pastebin https://pastebin.com/%s